* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background: #FF6969;
    box-shadow: inset 9px 9px 18px #d65858,
                inset -9px -9px 18px #ff7a7a;
}

@font-face {
    font-family: main;
    src: url(fonts/Orbitron-VariableFont_wght.ttf);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.game-board {
    display: grid;
    justify-content: center;
    gap: 1px;
    width: 50%;
    height: 50%;
    grid-template-columns: repeat(3, 98px);
    grid-template-rows: repeat(3, 98px);
}

.marker-field {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2.5px #fff5e0c3;
    background: #141E46;
    box-shadow: inset 9px 9px 18px #11193b,
            inset -9px -9px 18px #172351;
    border-radius: 6px;
}

.displays,
.marker-field {
    font-family: main;
    color: white;
    font-size: 2.6em;
    font-weight: 700;
}

#turnDisplayer,
.displays {
    font-size: 1.5em;
    margin-bottom: 20px;
}