* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    background: #FF6969;
    box-shadow: inset 9px 9px 18px #d65858,
                inset -9px -9px 18px #ff7a7a;
}

@font-face {
    font-family: main;
    src: url(fonts/Orbitron-VariableFont_wght.ttf);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.game-board {
    display: grid;
    justify-content: center;
    gap: 1px;
    width: 50%;
    height: fit-content;
    grid-template-columns: repeat(3, 98px);
    grid-template-rows: repeat(3, 98px);
}

.marker-field {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2.5px #fff5e0c3;
    background: #141E46;
    box-shadow: inset 9px 9px 18px #11193b,
            inset -9px -9px 18px #172351;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s;
}

.marker-field:hover {
    transform: scale(0.95);
}

.displays,
.marker-field {
    font-family: main;
    color: white;
    font-size: 2.6em;
    font-weight: 700;
}

#turnDisplayer,
.displays {
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 20px;
}

.resetBtn {
    padding: 17px 40px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    cursor: pointer;
   }
   
   .resetBtn:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
    cursor: pointer;
   }
   
   .resetBtn:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }